body
{
    background-color: #F5F5F5;
    height: fit-content;
}
.main {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 110px;
    font-size: 20px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #E4E9ED;
}
.space
{
    height: 10px;
    width: 100%;
    background-color: #E4E9ED;
}
.header-row, .item-row
{
    display: flex;
    width: 100%;
    height: 60px;
    padding-top: 15px;
}
.header-check, .item-check
{
    width: 5%;
    text-align: center;
    padding-top: 5px;

}
.header-check input, .item-check input
{
    width: 20px;
    height: 20px;
}
.header-product, .item-product
{
    width: 35%;

}
.header-style, .item-style
{
    width: 15%;

}
.header-pirce_each_product, .item-pirce_each_product
{
    width: 10%;
    text-align: center;
}
.header-quanity, .item-quanity
{
    width: 15%;
    text-align: center;
}
.header-pirce_sum, .item-pirce_sum
{
    width: 10%;
    text-align: center;
}
.header-operate, .item-operate
{
    width: 10%;
    text-align: center;
}
.item-row
{
    height: 120px;
    padding-bottom: 15px;
}
.item-check
{
    padding-top: 30px;
}
.item-product
{
    display: flex;
}
.picture
{
    width: 20%;
}
.name
{
    width: 80%;
    font-size: 18px;
    padding-right: 5%;
}
.name a
{
    color: black;
    text-decoration: none;
}
.btn-item-style
{
    background-color: white;
    width: 100%;
    text-align: start;
    padding: 0;
    border: 0;
}
.btn-item-style:active
{
    background-color: #CCFFFF;
}
.md
{
    position: absolute;
    width: 300px;
    border: #AAAAAA solid 1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
}
.color-content-modal,.size-content-modal
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    padding-left: 10px;
}
.cl1-color-content-modal, .cl1-size-content-modal
{
    width: 30%;
    height: 100%;
    padding-top: 10px;

}
.cl2-color-content-modal, .cl2-size-content-modal
{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    padding-top: 5px;
}
.btn-color,.btn-size
{
    display: flex;
    width: 60px;
    height: 30px;
    border: #AAAAAA solid 1px;
    margin-right: 2.5%;
    background-color: transparent;
}
.btn-color:hover,.btn-size:hover
{
    border: red solid 1px;
}
.text-content-modal
{
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 25px;
    font-size: 15px;
}

.footer-modal
{
    display: flex;
    justify-content: end;
    margin: 10px;
}
.btn-back-footer-modal
{
    margin-right: 10px;
}
.test
{
    font-size: 30px;
}
.item-pirce_each_product, .item-pirce_sum
{
    padding-top: 30px;
    color: red;
    text-align: center;
}
.item-quanity
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.group-btn-quanity
{
    display: flex;
}
.btn-quanity
{
    width: 40px;
    height: 40px;
    border: black solid 1px;
}
.input-quanity
{
    width: 60px;
    height: 40px;
    padding: 0;
    border: 0;
    border-top: black solid 1px;
    border-bottom: black solid 1px;
    text-align: center;
}
.text-quanity
{
    height: 100%;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
}
.item-operate
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-operate:hover
{
    color: red;
}
.footer-row
{
    display: flex;
    justify-content: end;
    height: 80px;
    width: 100%;
}
.text-footer-row
{
    padding-top: 25px;
    font-size: 25px;
}
.price_sum_all_item
{
    padding-top: 25px;
    font-size: 25px;
    color: red;
}
.btn-product-handling
{
    width: 20%;
    padding: 10px;
}
.btn-product-handling button
{
    width: 100%;
    height: 100%;
}

.wrapper-list .space {
    background-color: white;
}

.wrapper-list {
    background-color: #fff;
}

.main.cart {
    padding: 6% 6%;
}