<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WEB_TMDT</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="Home/CSS/Body_index.css">
</head>

<body>
<header>
    <div class="header-top">
        <div class="container">
            <div class="wrapper flexitem">
                <div class="left">
                    <a aria-current="page" href="/" class="logo">Bright Clothes</a>
                </div>
                <div class="middle">
                    <nav class="navbar">
                        <a href="/search?category=%C3%A1o&gender=Nam">Áo Nam</a>
                        <a href="/search?category=qu%E1%BA%A7n&gender=Nam">Quần Nam</a>
                        <a href="/search?category=%C3%A1o&gender=N%E1%BB%AF">Áo Nữ</a>
                        <a href="/search?category=qu%E1%BA%A7n&gender=N%E1%BB%AF">Quần Nữ</a>
                    </nav>
                    <li class="nav-item type">
                        <a class="nav-link" href="/Cart"><i class="fa-solid fa-cart-shopping"></i></a>
                    </li>
                    <div class="icons">
                        <a href="#" class="icon"><i class="ri-shopping-cart-line"></i></a>
                    </div>
                </div>
                <div class="right">
                    <nav class="navbar">
                        <a href="#">Login</a>
                        <a href="#">Logout</a>
                    </nav>

                </div>
            </div>
        </div>
    </div>
    <div class="search-bar">
        <div class="container" role="search">
            <input type="search" placeholder="Find your product " aria-label="Search">
            <button class="btn btn-outline-success" onclick="findProductByKeywords(this, event)">Search</button>
        </div>
    </div>
</header>

<div class="main">

    <div id="cards">

    </div>

</div>
    <nav class="page-navigation" aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Trước</a></li>
            <li class="page-item"><a class="page-link" href="#">Sau</a></li>
        </ul>
    </nav>



<footer>
    <div class="footer-container">
        <div class="footer-column">
            <h3>Company Information</h3>
            <p>CLOTHES Co., Ltd</p>
            <p>Address: Floors 4-5-6, Capital Place Building, No. 29 Lieu Giai Street, Ngoc Khanh Ward, Ba Dinh District, Hanoi, Vietnam.</p>
        </div>
        <div class="footer-column">
            <h3>Customer Support</h3>
            <p>Hotline: 19001221</p>
            <p>Email: cskh@hotro.clothes.vn</p>
        </div>
        <div class="footer-column">
            <h3>Content Manager</h3>
            <p>Responsible for Content Management: Nguyen Bui Anh Tuan</p>
        </div>
        <div class="footer-column">
            <h3>Business Information</h3>
            <p>Business Registration Number: 0106773786</p>
            <p>Issued by Hanoi Department of Planning & Investment on 10/02/2015</p>
            <p>© 2015 - Copyright belongs to CLOTHES Co., Ltd</p>
        </div>
    </div>
</footer>
<script id = "CRUD" th:data-page="${page}" th:data-type="${category}" th:data-user-gender="${gender}" th:data-keyword="${keyword}" src="Home/JS/CRUD_home.js"></script>
<script src="Home/JS/Click_home.js"></script>

</body>
</html>
